$colorDisabled: #e3daf9;
$colorPrimary: #6e41e2;
$colorHover: #5835b0;
$colorActive: #472c8a;
$colorWhite: #ffffff;
$colorWhiteS: rgba(255, 255, 255, 0.88);
$colorGrayM: #fafafa;
$colorGrayL: #f1f1f1;
$colorGrayS: #d4d4d4;
$colorGrayK: #6b6b6b;
$colorGray: rgba(17, 17, 17, 0.48);
$colorBlack: #111111;
$colorRedGirl: #f9e3e3;
$colorRedBoy: #f2caca;
$colorRed: #db524e;
$colorSuperRed: #c7302b;
$colorGreen: #27ae60;
$colorBlue: #428bf9;
$shadowDefault: 0px 4px 4px rgba(51, 51, 51, 0.04),
   0px 4px 16px rgba(51, 51, 51, 0.08);
$shadowHover: 0px 4px 4px rgba(51, 51, 51, 0.04),
   0px 4px 56px rgba(51, 51, 51, 0.16);
$shadowActive: 0px 4px 4px rgba(51, 51, 51, 0.04),
   0px 4px 24px rgba(51, 51, 51, 0.24);
$shadowError: 0px 4px 4px rgba(255, 196, 196, 0.04),
   0px 4px 40px rgba(255, 196, 196, 0.24);
$shadowSuccess: 0px 4px 4px rgba(39, 174, 96, 0.04),
   0px 4px 40px rgba(39, 174, 96, 0.24);
